@using System.Security.Claims;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="favicon.ico">
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    @RenderSection("Styles", false)
</head>
<body>
    <div class="main-container">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <a href="/" class="site-name">Saba.Club Admin (<span class="highlight">INDO</span>) - @Configuration["Env"]</a>
                <span class="env">INDO</span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="sidebar__inner">
                    @await Component.InvokeAsync("GameMenu", new { })
                </div>
            </div>
        </div>
        <div id="content" class="content-container">
            <div class="header">
                <div class="left-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-hamburger">
                        <!--<i class="material-icons">menu</i>-->
                        <span class="hamburger-inner"></span>
                    </button>
                    <div class="header-online-user">
                        <div class="number">
                            <i class="icon icon-account-group"></i>
                            <span>Online users: </span>
                            <a asp-controller="Dashboard" asp-action="OnlineUsers" id="online-users"></a>
                        </div>
                        @if (Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "admin")
                        {
                            <div class="number">
                                <i class="icon icon-bot"></i>
                                <a asp-action="BotUsers" asp-controller="Dashboard" id="online-users">Bots</a>
                            </div>}
                    </div>
                </div>

                <div class="user-info">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-account-circle icon-user"></i>
                            <span class="username">@Context.User.Claims.FirstOrDefault(c => c.Type == "Username")?.Value</span>
                        </button>
                        <form asp-action="Logout" asp-controller="Authentication" method="post">
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @*<li>
                                        <a asp-action="Index" asp-controller="ChangePassword">
                                            <i class="material-icons">lock_open</i> Change Password
                                        </a>
                                    </li>*@
                                <li>
                                    <button type="submit" value="Sign out" class="logout">
                                        <i class="icon-logout"></i> Logout
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>

            <div class="inner-content">
                <div class="page-title">@ViewData["Title"]</div>

                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/detectmobilebrowser.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/dashboard.js" asp-append-version="true"></script>
    <script src="~/js/stick-header.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
