@{ Layout = null; }

@using GamesAdmin.Site.Features.GameSettings.ViewModels;
@model EditViewModel;

@{ ViewData["Title"] = Model.DisplayName; }

@section Styles {
    <link href="~/css/adjust-bot.min.css" rel="stylesheet" asp-append-version="true" />
}

<div >
    
        <div class="message-success hidden-cls" id="successMsg"><i class="icon-check"></i><span>Updated successfully</span></div> 
        <div class="message-error hidden-cls" id="failedMsg"><i class="icon-cancel"></i><span>Error</span></div> 

        <form class="card-body form" asp-action="Update" asp-controller="GameSettings" method="post" id="gameForm">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                Game Status: <strong>@Model.StatusDisplay</strong>
            </div>

            <div class="form-group row">
                <div class="col-lg-6">
                    <label asp-for="MinBet" class="control-label"></label>
                    <input type="number" asp-for="MinBet" class="form-control" />
                    <span asp-validation-for="MinBet" class="text-danger"></span>
                    <input asp-for="Name" type="hidden" class="form-control" />
                    <input asp-for="Id" type="hidden" class="form-control" />
                    <input type="hidden" asp-for="Enabled" class="form-control" />
                    <input type="hidden" asp-for="DisabledMessage" class="form-control" />
                </div>
                <div class="col-lg-6">
                    <label asp-for="MaxBet" class="control-label"></label>
                    <input type="number" asp-for="MaxBet" class="form-control" />
                    <span asp-validation-for="MaxBet" class="text-danger"></span>
                </div>
            </div>

            @if (Model.DisplayMaxBetChoices)
            {
                <fieldset>
                    <legend>Bet Choices</legend>
                    @for (var i = 0; i < (Model.BetChoiceBetSettings.Count / 2 + 1); i++)
                    {
                <div class="form-group row">
                    @for (var j = 0; j < 2; j++)
                    {
                        var index = i * 2 + j;
                        if (index < Model.BetChoiceBetSettings.Count)
                        {
                <div class="col-lg-6">
                    <label class="control-label">@Model.BetChoiceBetSettings[index].DisplayName</label>
                    <input type="text" hidden asp-for="@Model.BetChoiceBetSettings[index].Name" class="form-control" />
                    <input type="number" asp-for="@Model.BetChoiceBetSettings[index].MaxBet" class="form-control" />
                </div>}
                                    }
                </div>}
                </fieldset>            
             }

            <br />

            @if (!Model.DisabledShowBot)
            {
                <div class="form-group">
                    <label asp-for="BotMaxBet" class="control-label"></label>
                    <input type="number" asp-for="BotMaxBet" class="form-control" />
                    <span asp-validation-for="BotMaxBet" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div>
                        <input type="checkbox" asp-for="BotEnabled" />
                        <label asp-for="BotEnabled" class="control-label"></label>
                    </div>
                    <span asp-validation-for="BotEnabled" class="text-danger"></span>
                </div>
            }

            <input type="hidden" id="gameName" value="@Model.Name"/>            
        </form> 
</div>


